
/* PUBLIC PHOTOS */

.public-childrens-park1 {
  background-image: url('../Assets/ProjectPhotos/Public/ChildrensPark/ChildrensPark1.jpg');
}
.public-childrens-park2 {
  background-image: url('../Assets/ProjectPhotos/Public/ChildrensPark/ChildrensPark2.jpg');
}
.public-childrens-park3 {
  background-image: url('../Assets/ProjectPhotos/Public/ChildrensPark/ChildrensPark3.jpg');
}



.public-little-shade1 {
  background-image: url('../Assets/ProjectPhotos/Public/LittleShadesCreek/LittleShade1.jpg');
  background-position-y: top;
}
.public-little-shade2 {
  background-image: url('../Assets/ProjectPhotos/Public/LittleShadesCreek/LittleShade2.jpg');
}
.public-little-shade3 {
  background-image: url('../Assets/ProjectPhotos/Public/LittleShadesCreek/LittleShade3.jpg');
}
.public-little-shade4 {
  background-image: url('../Assets/ProjectPhotos/Public/LittleShadesCreek/LittleShade4.jpg');
}
.public-little-shade5 {
  background-image: url('../Assets/ProjectPhotos/Public//LittleShadesCreek/LittleShade5.jpg');
  background-position-y: top;
}
.public-little-shade6 {
  background-image: url('../Assets/ProjectPhotos/Public/LittleShadesCreek/LittleShade6.jpg');
}
.public-little-shade7 {
  background-image: url('../Assets/ProjectPhotos/Public/LittleShadesCreek/LittleShade7.jpg');
}

.public-bessemer-park1 {
  background-image: url('../Assets/ProjectPhotos/Public/BessemerPark/BessemerPark-1.jpg');
}
.public-bessemer-park2 {
  background-image: url('../Assets/ProjectPhotos/Public/BessemerPark/BessemerPark-2.jpg');
}
.public-bessemer-park3 {
  background-image: url('../Assets/ProjectPhotos/Public/BessemerPark/BessemerPark-3.jpg');
}
.public-bessemer-park4 {
  background-image: url('../Assets/ProjectPhotos/Public/BessemerPark/BessemerPark-4.jpg');
}
.public-bessemer-park5 {
  background-image: url('../Assets/ProjectPhotos/Public/BessemerPark/BessemerPark-5.jpg');
}

.public-morgan-drive1 {
  background-image: url('../Assets/ProjectPhotos/Public/MorganDrive/MorganDrive1.jpg');
  background-position-y: top;
}

.public-sidewalk1 {
  background-image: url('../Assets/ProjectPhotos/Public/sidewalks/Sidewalk-1.jpg');
}
.public-sidewalk2 {
  background-image: url('../Assets/ProjectPhotos/Public/sidewalks/Sidewalk-2.jpg');
}
.public-sidewalk3 {
  background-image: url('../Assets/ProjectPhotos/Public/sidewalks/Sidewalk-3.jpg');
}
.public-sidewalk4 {
  background-image: url('../Assets/ProjectPhotos/Public/sidewalks/Sidewalk-4.jpg');
}


/* MEDICAL PHOTOS */


.medical-UAB1{
  background-image: url('../Assets/ProjectPhotos/Medical/UAB/UAB1.jpg');
}
.medical-UAB2{
  background-image: url('../Assets/ProjectPhotos/Medical/UAB/UAB2.jpg');
}
.medical-UAB3{
  background-image: url('../Assets/ProjectPhotos/Medical/UAB/UAB3.jpg');
}
.medical-UAB4{
  background-image: url('../Assets/ProjectPhotos/Medical/UAB/UAB4.jpg');
}

.medical-Dothan-Medical1 {
  background-image: url('../Assets/ProjectPhotos/Medical/DothanMedical/DothanMedical1.jpg');
}
.medical-Dothan-Medical2 {
  background-image: url('../Assets/ProjectPhotos/Medical/DothanMedical/DothanMedical2.jpg');
}

.medical-Medical-West1 {
  background-image: url('../Assets/ProjectPhotos/Medical/MedicalWest/MedicalWest1.jpg');
}
.medical-Medical-West2 {
  background-image: url('../Assets/ProjectPhotos/Medical/MedicalWest/MedicalWest2.jpg');
}

.medical-UAB-medicine1 {
  background-image: url('../Assets/ProjectPhotos/Medical/UAB/UABMedicine-1.jpg');
}
.medical-UAB-medicine2 {
  background-image: url('../Assets/ProjectPhotos/Medical/UAB/UABMedicine-2.jpg');
}

.medical-Dublin-VA1 {
  background-image: url('../Assets/ProjectPhotos/Medical/DublinVA/DublinVA1.jpg')
}
.medical-Dublin-VA2 {
  background-image: url('../Assets/ProjectPhotos/Medical/DublinVA/DublinVA2.jpg')
}
.medical-Dublin-VA3 {
  background-image: url('../Assets/ProjectPhotos/Medical/DublinVA/DublinVA3.jpg')
}

.medical-Baptist-South1 {
  background-image: url('../Assets/ProjectPhotos/Medical/BaptistSouth/BaptistSouth1.jpg')
}


/* EDUCATION PHOTOS */



.education-Bolding-Gardens1 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/BoldingGardens1.jpg')
}
.education-Bolding-Gardens2 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/BoldingGardens2.jpg')
}
.education-Bolding-Gardens3 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/BoldingGardens3.jpg')
}
.education-Bolding-Gardens4 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/BoldingGardens4.jpg')
}
.education-Bolding-Gardens5 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/BoldingGardens5.jpg')
}
.education-Bolding-Gardens6 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/BoldingGardens6.jpg')
}
.education-Bolding-Gardens7 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/BoldingGardens7.jpg')
}
.education-Bolding-Gardens8 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/BoldingGardens8.jpg')
}
.education-Bolding-Gardens9 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens//BoldingGardens9.jpg')
}

.education-Brewer-Plaza1 {
  background-image: url('../Assets/ProjectPhotos/Education/BrewerPlaza/BrewerPlaza1.jpg')
}
.education-Brewer-Plaza2 {
  background-image: url('../Assets/ProjectPhotos/Education/BrewerPlaza/BrewerPlaza2.jpg')
}
.education-Brewer-Plaza3 {
  background-image: url('../Assets/ProjectPhotos/Education/BrewerPlaza/BrewerPlaza3.jpg')
}

.education-Arena1 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/Arena1.jpg')
}
.education-Arena2 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/Arena2.jpg')
}
.education-Arena3 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/Arena3.jpg')
}
.education-Arena4 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/Arena4.jpg')
}
.education-Arena5 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/Arena5.jpg')
}
.education-Arena6 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/Arena6.jpg')
}
.education-Arena7 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/Arena7.jpg')
}
.education-Arena8 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/Arena8.jpg')
}

.education-Boren-Gardens1 {
  background-image: url('../Assets/ProjectPhotos/Education/BorenGardens/BorenGardens1.jpg')
}
.education-Boren-Gardens2 {
  background-image: url('../Assets/ProjectPhotos/Education/BorenGardens/BorenGardens2.jpg')
}
.education-Boren-Gardens3 {
  background-image: url('../Assets/ProjectPhotos/Education/BorenGardens/BorenGardens3.jpg')
}
.education-Boren-Gardens4 {
  background-image: url('../Assets/ProjectPhotos/Education/BorenGardens/BorenGardens4.jpg')
}
.education-Boren-Gardens5 {
  background-image: url('../Assets/ProjectPhotos/Education/BorenGardens/BorenGardens-5.jpg')
}
.education-Boren-Gardens6 {
  background-image: url('../Assets/ProjectPhotos/Education/BorenGardens/BorenGardens-6.jpg')
}


.education-Samford-Selects1 {
  background-image: url('../Assets/ProjectPhotos/Education/SamfordSelects/SamfordSelects1.jpg')
}
.education-Samford-Selects2 {
  background-image: url('../Assets/ProjectPhotos/Education/SamfordSelects/SamfordSelects2.jpg')
}
.education-Samford-Selects3 {
  background-image: url('../Assets/ProjectPhotos/Education/SamfordSelects/SamfordSelects3.jpg')
}
.education-Samford-Selects4 {
  background-image: url('../Assets/ProjectPhotos/Education/SamfordSelects/SamfordSelects4.jpg')
}
.education-Samford-Selects5 {
  background-image: url('../Assets/ProjectPhotos/Education/SamfordSelects/SamfordSelects5.jpg')
}
.education-Samford-Selects6 {
  background-image: url('../Assets/ProjectPhotos/Education/SamfordSelects/SamfordSelects6.jpg')
}

.education-lawson-state1 {
  background-image: url('../Assets/ProjectPhotos/Education/LawsonState/LawsonState1.jpg');
}

.education-UWA1 {
  background-image: url('../Assets/ProjectPhotos/Education/UWA/UWA-1.jpg');
}

.education-4h-center1 {
  background-image: url('../Assets/ProjectPhotos/Education/4HCenter/4HCenter-1.jpg');
}
.education-4h-center2 {
  background-image: url('../Assets/ProjectPhotos/Education/4HCenter/4HCenter-2.jpg');
}
.education-4h-center3 {
  background-image: url('../Assets/ProjectPhotos/Education/4HCenter/4HCenter-3.jpg');
}


/* RELIGIOUS PHOTOS */


.religious-highland-church1 {
  background-image: url('../Assets/ProjectPhotos/Religious/HighlandsUM/HighlandsUnitedMethodist-1.jpg');
}
.religious-highland-church2 {
  background-image: url('../Assets/ProjectPhotos/Religious/HighlandsUM/HighlandsUnitedMethodist-2.jpg');
}
.religious-highland-church3 {
  background-image: url('../Assets/ProjectPhotos/Religious/HighlandsUM/HighlandsUnitedMethodist-3.jpg');
}
.religious-highland-church4 {
  background-image: url('../Assets/ProjectPhotos/Religious/HighlandsUM/HighlandsUnitedMethodist-4.jpg');
}

.religious-mountain-church1 {
  background-image: url('../Assets/ProjectPhotos/Religious/MtnChurch/MtnChurch-1.jpg');
}


/* RESIDENTIAL PHOTOS */

.residential-1 {
  background-image: url('../Assets/ProjectPhotos/Residential/Residential-1.jpg');
}
.residential-2 {
  background-image: url('../Assets/ProjectPhotos/Residential/Residential-2.jpg');
}
.residential-3 {
  background-image: url('../Assets/ProjectPhotos/Residential/Residential-3.jpg');
}
.residential-4 {
  background-image: url('../Assets/ProjectPhotos/Residential/Residential-4.jpg');
}
.residential-5 {
  background-image: url('../Assets/ProjectPhotos/Residential/Residential-5.jpg');
}

/* COMMERCIAL PHOTOS */

.commercial-golds-gym1 {
  background-image: url('../Assets/ProjectPhotos/Commercial/GoldsGym/GoldsGym-1.jpg');
}
.commercial-golds-gym2 {
  background-image: url('../Assets/ProjectPhotos/Commercial/GoldsGym/GoldsGym-2.jpg');
}

.commercial-CandM1 {
  background-image: url('../Assets/ProjectPhotos/Commercial/CM/CM-1.jpg');
}



/* STYLINGS */

  .section-head {
    padding: 0.7em 0em 0.7em 1.2em;
    font-family: 'Raleway', sans-serif;
    color: #60a568;
    letter-spacing: 0.3em;
    font-size: 3em;
    height: 4.5em;
    width: 100%;
    background-image: linear-gradient(to right, #FFFFF2, #FFFFFF);
    opacity: 1;
    border: none;
    
  }
  
  @keyframes header-grow {
    0% {height: 0em; opacity: 0; padding: 0em 0em 0em 1.2em;}
    100% {
      padding: 0.7em 0em 0.7em 1.2em;
      height: 4.5em;
      opacity: 1;
    }
  }
 .header-grow {
   animation-name: header-grow;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;
  }
  
  @keyframes header-shrink {
    0% {height: 4.5em; opacity: 1; padding: 0.7em 0em 0.7em 1.2em;}
    5% { opacity: 0;}
    100% {height: 0em; opacity: 0; padding: 0em 0em 0em 1.2em;}
  }
  .header-shrink {
    animation-name: header-shrink;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  

  @media only screen and (max-width: 710px) {
    .section-head {
      height: 4em;
      font-size: 2em;
      letter-spacing: 0.5em;
      padding: 0.5em 0em 0.02em 0.5em;
    }

    @keyframes header-grow {
      0% {height: 0em; opacity: 0; padding: 0em 0em 0em 0.5em;}
      100% {
        padding: 0.5em 0em 0.02em 0.5em;
        height: 4em;
        opacity: 1;
      }
    }
   .header-grow {
     animation-name: header-grow;
     animation-duration: 0.5s;
     animation-fill-mode: forwards;
    }
    
    @keyframes header-shrink {
      0% {height: 4em; opacity: 1; padding: 0.5em 0em 0.02em 0.5em;}
      5% { opacity: 0;}
      100% {height: 0em; opacity: 0; padding: 0em 0em 0em 0.5em;}
    }
    .header-shrink {
      animation-name: header-shrink;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }
    







    /* PUBLIC PHOTOS */

.public-childrens-park1 {
  background-image: url('../Assets/ProjectPhotos/Public/ChildrensPark/mobile/ChildrensPark1-mobile.jpg');
}
.public-childrens-park2 {
  background-image: url('../Assets/ProjectPhotos/Public/ChildrensPark/mobile/ChildrensPark2-mobile.jpg');
}
.public-childrens-park3 {
  background-image: url('../Assets/ProjectPhotos/Public/ChildrensPark/mobile/ChildrensPark3-mobile.jpg');
}



.public-little-shade1 {
  background-image: url('../Assets/ProjectPhotos/Public/LittleShadesCreek/mobile/LittleShade1-mobile.jpg');
  background-position-y: top;
}
.public-little-shade2 {
  background-image: url('../Assets/ProjectPhotos/Public/LittleShadesCreek/mobile/LittleShade2-mobile.jpg');
}
.public-little-shade3 {
  background-image: url('../Assets/ProjectPhotos/Public/LittleShadesCreek/mobile/LittleShade3-mobile.jpg');
}
.public-little-shade4 {
  background-image: url('../Assets/ProjectPhotos/Public/LittleShadesCreek/mobile/LittleShade4-mobile.jpg');
}
.public-little-shade5 {
  background-image: url('../Assets/ProjectPhotos/Public//LittleShadesCreek/mobile/LittleShade5-mobile.jpg');
  background-position-y: top;
}
.public-little-shade6 {
  background-image: url('../Assets/ProjectPhotos/Public/LittleShadesCreek/mobile/LittleShade6-mobile.jpg');
}
.public-little-shade7 {
  background-image: url('../Assets/ProjectPhotos/Public/LittleShadesCreek/mobile/LittleShade7-mobile.jpg');
}

.public-bessemer-park1 {
  background-image: url('../Assets/ProjectPhotos/Public/BessemerPark/mobile/BessemerPark-1-mobile.jpg');
}
.public-bessemer-park2 {
  background-image: url('../Assets/ProjectPhotos/Public/BessemerPark/mobile/BessemerPark-2-mobile.jpg');
}
.public-bessemer-park3 {
  background-image: url('../Assets/ProjectPhotos/Public/BessemerPark/mobile/BessemerPark-3-mobile.jpg');
}
.public-bessemer-park4 {
  background-image: url('../Assets/ProjectPhotos/Public/BessemerPark/mobile/BessemerPark-4-mobile.jpg');
}
.public-bessemer-park5 {
  background-image: url('../Assets/ProjectPhotos/Public/BessemerPark/mobile/BessemerPark-5-mobile.jpg');
}

.public-morgan-drive1 {
  background-image: url('../Assets/ProjectPhotos/Public/MorganDrive/mobile/MorganDrive1-mobile.jpg');
  background-position-y: top;
}

.public-sidewalk1 {
  background-image: url('../Assets/ProjectPhotos/Public/sidewalks/mobile/Sidewalk-1-mobile.jpg');
}
.public-sidewalk2 {
  background-image: url('../Assets/ProjectPhotos/Public/sidewalks/mobile/Sidewalk-2-mobile.jpg');
}
.public-sidewalk3 {
  background-image: url('../Assets/ProjectPhotos/Public/sidewalks/mobile/Sidewalk-3-mobile.jpg');
}
.public-sidewalk4 {
  background-image: url('../Assets/ProjectPhotos/Public/sidewalks/mobile/Sidewalk-4-mobile.jpg');
}


/* MEDICAL PHOTOS */


.medical-UAB1{
  background-image: url('../Assets/ProjectPhotos/Medical/UAB/mobile/UAB1-mobile.jpg');
}
.medical-UAB2{
  background-image: url('../Assets/ProjectPhotos/Medical/UAB/mobile/UAB2-mobile.jpg');
}
.medical-UAB3{
  background-image: url('../Assets/ProjectPhotos/Medical/UAB/mobile/UAB3-mobile.jpg');
}
.medical-UAB4{
  background-image: url('../Assets/ProjectPhotos/Medical/UAB/mobile/UAB4-mobile.jpg');
}

.medical-Dothan-Medical1 {
  background-image: url('../Assets/ProjectPhotos/Medical/DothanMedical/mobile/DothanMedical1-mobile.jpg');
}
.medical-Dothan-Medical2 {
  background-image: url('../Assets/ProjectPhotos/Medical/DothanMedical/mobile/DothanMedical2-mobile.jpg');
}

.medical-Medical-West1 {
  background-image: url('../Assets/ProjectPhotos/Medical/MedicalWest/mobile/MedicalWest1-mobile.jpg');
}
.medical-Medical-West2 {
  background-image: url('../Assets/ProjectPhotos/Medical/MedicalWest/mobile/MedicalWest2-mobile.jpg');
}

.medical-UAB-medicine1 {
  background-image: url('../Assets/ProjectPhotos/Medical/UAB/mobile/UABMedicine-1-mobile.jpg');
}
.medical-UAB-medicine2 {
  background-image: url('../Assets/ProjectPhotos/Medical/UAB/mobile/UABMedicine-2-mobile.jpg');
}

.medical-Dublin-VA1 {
  background-image: url('../Assets/ProjectPhotos/Medical/DublinVA/mobile/DublinVA1-mobile.jpg')
}
.medical-Dublin-VA2 {
  background-image: url('../Assets/ProjectPhotos/Medical/DublinVA/mobile/DublinVA2-mobile.jpg')
}
.medical-Dublin-VA3 {
  background-image: url('../Assets/ProjectPhotos/Medical/DublinVA/mobile/DublinVA3-mobile.jpg')
}

.medical-Baptist-South1 {
  background-image: url('../Assets/ProjectPhotos/Medical/BaptistSouth/mobile/BaptistSouth1-mobile.jpg')
}


/* EDUCATION PHOTOS */



.education-Bolding-Gardens1 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/mobile/BoldingGardens1-mobile.jpg')
}
.education-Bolding-Gardens2 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/mobile/BoldingGardens2-mobile.jpg')
}
.education-Bolding-Gardens3 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/mobile/BoldingGardens3-mobile.jpg')
}
.education-Bolding-Gardens4 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/mobile/BoldingGardens4-mobile.jpg')
}
.education-Bolding-Gardens5 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/mobile/BoldingGardens5-mobile.jpg')
}
.education-Bolding-Gardens6 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/mobile/BoldingGardens6-mobile.jpg')
}
.education-Bolding-Gardens7 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/mobile/BoldingGardens7-mobile.jpg')
}
.education-Bolding-Gardens8 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/mobile/BoldingGardens8-mobile.jpg')
}
.education-Bolding-Gardens9 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/mobile//BoldingGardens9-mobile.jpg')
}

.education-Brewer-Plaza1 {
  background-image: url('../Assets/ProjectPhotos/Education/BrewerPlaza/mobile/BrewerPlaza1-mobile.jpg')
}
.education-Brewer-Plaza2 {
  background-image: url('../Assets/ProjectPhotos/Education/BrewerPlaza/mobile/BrewerPlaza2-mobile.jpg')
}
.education-Brewer-Plaza3 {
  background-image: url('../Assets/ProjectPhotos/Education/BrewerPlaza/mobile/BrewerPlaza3-mobile.jpg')
}

.education-Arena1 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/mobile/Arena1-mobile.jpg')
}
.education-Arena2 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/mobile/Arena2-mobile.jpg')
}
.education-Arena3 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/mobile/Arena3-mobile.jpg')
}
.education-Arena4 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/mobile/Arena4-mobile.jpg')
}
.education-Arena5 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/mobile/Arena5-mobile.jpg')
}
.education-Arena6 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/mobile/Arena6-mobile.jpg')
}
.education-Arena7 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/mobile/Arena7-mobile.jpg')
}
.education-Arena8 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/mobile/Arena8-mobile.jpg')
}

.education-Boren-Gardens1 {
  background-image: url('../Assets/ProjectPhotos/Education/BorenGardens/mobile/BorenGardens1-mobile.jpg')
}
.education-Boren-Gardens2 {
  background-image: url('../Assets/ProjectPhotos/Education/BorenGardens/mobile/BorenGardens2-mobile.jpg')
}
.education-Boren-Gardens3 {
  background-image: url('../Assets/ProjectPhotos/Education/BorenGardens/mobile/BorenGardens3-mobile.jpg')
}
.education-Boren-Gardens4 {
  background-image: url('../Assets/ProjectPhotos/Education/BorenGardens/mobile/BorenGardens4-mobile.jpg')
}
.education-Boren-Gardens5 {
  background-image: url('../Assets/ProjectPhotos/Education/BorenGardens/mobile/BorenGardens-5-mobile.jpg')
}
.education-Boren-Gardens6 {
  background-image: url('../Assets/ProjectPhotos/Education/BorenGardens/mobile/BorenGardens-6-mobile.jpg')
}


.education-Samford-Selects1 {
  background-image: url('../Assets/ProjectPhotos/Education/SamfordSelects/mobile/SamfordSelects1-mobile.jpg')
}
.education-Samford-Selects2 {
  background-image: url('../Assets/ProjectPhotos/Education/SamfordSelects/mobile/SamfordSelects2-mobile.jpg')
}
.education-Samford-Selects3 {
  background-image: url('../Assets/ProjectPhotos/Education/SamfordSelects/mobile/SamfordSelects3-mobile.jpg')
}
.education-Samford-Selects4 {
  background-image: url('../Assets/ProjectPhotos/Education/SamfordSelects/mobile/SamfordSelects4-mobile.jpg')
}
.education-Samford-Selects5 {
  background-image: url('../Assets/ProjectPhotos/Education/SamfordSelects/mobile/SamfordSelects5-mobile.jpg')
}
.education-Samford-Selects6 {
  background-image: url('../Assets/ProjectPhotos/Education/SamfordSelects/mobile/SamfordSelects6-mobile.jpg')
}

.education-lawson-state1 {
  background-image: url('../Assets/ProjectPhotos/Education/LawsonState/mobile/LawsonState1-mobile.jpg');
}

.education-UWA1 {
  background-image: url('../Assets/ProjectPhotos/Education/UWA/mobile/UWA-1-mobile.jpg');
}

.education-4h-center1 {
  background-image: url('../Assets/ProjectPhotos/Education/4HCenter/mobile/4HCenter-1-mobile.jpg');
}
.education-4h-center2 {
  background-image: url('../Assets/ProjectPhotos/Education/4HCenter/mobile/4HCenter-2-mobile.jpg');
}
.education-4h-center3 {
  background-image: url('../Assets/ProjectPhotos/Education/4HCenter/mobile/4HCenter-3-mobile.jpg');
}


/* RELIGIOUS PHOTOS */


.religious-highland-church1 {
  background-image: url('../Assets/ProjectPhotos/Religious/HighlandsUM/mobile/HighlandsUnitedMethodist-1-mobile.jpg');
}
.religious-highland-church2 {
  background-image: url('../Assets/ProjectPhotos/Religious/HighlandsUM/mobile/HighlandsUnitedMethodist-2-mobile.jpg');
}
.religious-highland-church3 {
  background-image: url('../Assets/ProjectPhotos/Religious/HighlandsUM/mobile/HighlandsUnitedMethodist-3-mobile.jpg');
}
.religious-highland-church4 {
  background-image: url('../Assets/ProjectPhotos/Religious/HighlandsUM/mobile/HighlandsUnitedMethodist-4-mobile.jpg');
}

.religious-mountain-church1 {
  background-image: url('../Assets/ProjectPhotos/Religious/MtnChurch/mobile/MtnChurch-1-mobile.jpg');
}


/* RESIDENTIAL PHOTOS */

.residential-1 {
  background-image: url('../Assets/ProjectPhotos/Residential/mobile/Residential-1-mobile.jpg');
}
.residential-2 {
  background-image: url('../Assets/ProjectPhotos/Residential/mobile/Residential-2-mobile.jpg');
}
.residential-3 {
  background-image: url('../Assets/ProjectPhotos/Residential/mobile/Residential-3-mobile.jpg');
}
.residential-4 {
  background-image: url('../Assets/ProjectPhotos/Residential/mobile/Residential-4-mobile.jpg');
}
.residential-5 {
  background-image: url('../Assets/ProjectPhotos/Residential/mobile/Residential-5-mobile.jpg');
}

/* COMMERCIAL PHOTOS */

.commercial-golds-gym1 {
  background-image: url('../Assets/ProjectPhotos/Commercial/GoldsGym/mobile/GoldsGym-1-mobile.jpg');
}
.commercial-golds-gym2 {
  background-image: url('../Assets/ProjectPhotos/Commercial/GoldsGym/mobile/GoldsGym-2-mobile.jpg');
}

.commercial-CandM1 {
  background-image: url('../Assets/ProjectPhotos/Commercial/CM/mobile/CM-1-mobile.jpg');
}
    
    
  }

