

/* HEADERS */

.medical-header {
  background-image: url('../Assets/ProjectPhotos/Public/MedicalHeader.svg');
}
.education-header {
  background-image: url('../Assets/ProjectPhotos/Public/EducationHeader.svg');
}
.commercial-header {
  background-image: url('../Assets/ProjectPhotos/Public/CommercialHeader.svg');
}

/* PUBLIC PHOTOS */

.public-childrens-park1 {
  background-image: url('../Assets/ProjectPhotos/Public/ChildrensPark/ChildrensPark1.jpg');
}
.public-childrens-park2 {
  background-image: url('../Assets/ProjectPhotos/Public/ChildrensPark/ChildrensPark2.jpg');
}
.public-childrens-park3 {
  background-image: url('../Assets/ProjectPhotos/Public/ChildrensPark/ChildrensPark3.jpg');
}

.public-bridge-park1 {
  background-image: url('../Assets/ProjectPhotos/Public/BridgePark/Park2.jpg');
  background-position-y: top;
}

.public-bridge-park2 {
  background-image: url('../Assets/ProjectPhotos/Public/BridgePark/Park3.jpg');
}
.public-bridge-park3 {
  background-image: url('../Assets/ProjectPhotos/Public/BridgePark/Park4.jpg');
}

.public-little-shade1 {
  background-image: url('../Assets/ProjectPhotos/Public/LittleShadesCreek/LittleShade1.jpg');
  background-position-y: top;
}
.public-little-shade2 {
  background-image: url('../Assets/ProjectPhotos/Public/LittleShadesCreek/LittleShade2.JPG');
}
.public-little-shade3 {
  background-image: url('../Assets/ProjectPhotos/Public/LittleShadesCreek/LittleShade3.JPG');
}
.public-little-shade4 {
  background-image: url('../Assets/ProjectPhotos/Public/LittleShadesCreek/LittleShade4.JPG');
}

.public-morgan-drive1 {
  background-image: url('../Assets/ProjectPhotos/Public/MorganDrive/MorganDrive1.jpg');
  background-position-y: top;
}


/* MEDICAL PHOTOS */


.medical-UAB1{
  background-image: url('../Assets/ProjectPhotos/Medical/UAB/UAB1.jpg');
}
.medical-UAB2{
  background-image: url('../Assets/ProjectPhotos/Medical/UAB/UAB2.jpg');
}
.medical-UAB3{
  background-image: url('../Assets/ProjectPhotos/Medical/UAB/UAB3.jpg');
}
.medical-UAB4{
  background-image: url('../Assets/ProjectPhotos/Medical/UAB/UAB4.jpg');
}

.medical-Dothan-Medical1 {
  background-image: url('../Assets/ProjectPhotos/Medical/DothanMedical/DothanMedical1.jpg');
}
.medical-Dothan-Medical2 {
  background-image: url('../Assets/ProjectPhotos/Medical/DothanMedical/DothanMedical2.JPG');
}

.medical-Medical-West1 {
  background-image: url('../Assets/ProjectPhotos/Medical/MedicalWest/MedicalWest1.jpg');
}
.medical-Medical-West2 {
  background-image: url('../Assets/ProjectPhotos/Medical/MedicalWest/MedicalWest2.jpg');
}

.medical-Dublin-VA1 {
  background-image: url('../Assets/ProjectPhotos/Medical/DublinVA/DublinVA1.jpg')
}
.medical-Dublin-VA2 {
  background-image: url('../Assets/ProjectPhotos/Medical/DublinVA/DublinVA2.jpg')
}
.medical-Dublin-VA3 {
  background-image: url('../Assets/ProjectPhotos/Medical/DublinVA/DublinVA3.jpg')
}

.medical-Baptist-South1 {
  background-image: url('../Assets/ProjectPhotos/Medical/BaptistSouth/BaptistSouth1.jpg')
}


/* EDUCATION PHOTOS */



.education-Bolding-Gardens1 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/BoldingGardens1.jpg')
}
.education-Bolding-Gardens2 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/BoldingGardens2.jpg')
}
.education-Bolding-Gardens3 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/BoldingGardens3.jpg')
}
.education-Bolding-Gardens4 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/BoldingGardens4.jpg')
}
.education-Bolding-Gardens5 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/BoldingGardens5.jpg')
}
.education-Bolding-Gardens6 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/BoldingGardens6.jpg')
}
.education-Bolding-Gardens7 {
  background-image: url('../Assets/ProjectPhotos/Education/BoldingGardens/BoldingGardens7.JPG')
}

.education-Brewer-Plaza1 {
  background-image: url('../Assets/ProjectPhotos/Education/BrewerPlaza/BrewerPlaza1.jpg')
}
.education-Brewer-Plaza2 {
  background-image: url('../Assets/ProjectPhotos/Education/BrewerPlaza/BrewerPlaza2.JPG')
}
.education-Brewer-Plaza3 {
  background-image: url('../Assets/ProjectPhotos/Education/BrewerPlaza/BrewerPlaza3.JPG')
}

.education-Arena1 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/Arena1.jpg')
}
.education-Arena2 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/Arena2.jpg')
}
.education-Arena3 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/Arena3.jpg')
}
.education-Arena4 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/Arena4.JPG')
}
.education-Arena5 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/Arena5.JPG')
}
.education-Arena6 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/Arena6.JPG')
}
.education-Arena7 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/Arena7.jpg')
}
.education-Arena8 {
  background-image: url('../Assets/ProjectPhotos/Education/Arena/Arena8.jpg')
}

.education-Boren-Gardens1 {
  background-image: url('../Assets/ProjectPhotos/Education/BorenGardens/BorenGardens1.jpg')
}
.education-Boren-Gardens2 {
  background-image: url('../Assets/ProjectPhotos/Education/BorenGardens/BorenGardens2.jpg')
}
.education-Boren-Gardens3 {
  background-image: url('../Assets/ProjectPhotos/Education/BorenGardens/BorenGardens3.JPG')
}
.education-Boren-Gardens4 {
  background-image: url('../Assets/ProjectPhotos/Education/BorenGardens/BorenGardens4.JPG')
}

.education-Samford-Selects1 {
  background-image: url('../Assets/ProjectPhotos/Education/SamfordSelects/SamfordSelects1.jpg')
}
.education-Samford-Selects2 {
  background-image: url('../Assets/ProjectPhotos/Education/SamfordSelects/SamfordSelects2.jpg')
}
.education-Samford-Selects3 {
  background-image: url('../Assets/ProjectPhotos/Education/SamfordSelects/SamfordSelects3.jpg')
}



/* STYLINGS */

  .section-head {
    padding: 0.7em 0em 0.7em 1em;
    font-family: 'Raleway', sans-serif;
    color: #5BC38D;
    letter-spacing: 1em;
    font-size: 3em;
    height: 8em;
    width: 100%;
    background-image: linear-gradient(to right, #FFFFF2, #FFFFFF);
    opacity: 1;
  }
  
  @keyframes header-grow {
    0% {height: 0em; opacity: 0; padding: 0em 0em 0em 0em;}
    100% {
      padding: 0.7em 0em 0.7em 1em;
    font-family: 'Raleway', sans-serif;
    color: #5BC38D;
    letter-spacing: 1em;
    font-size: 3em;
    height: 8em;
    width: 100%;
    background-image: linear-gradient(to right, #FFFFF2, #FFFFFF);
    opacity: 1;
    }
  }
 .header-grow {
   height: 0em;
   opacity: 0;
   animation-name: header-grow;
   animation-duration: 1s;
   animation-fill-mode: forwards;
  }

  /* .lightbox {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50000000;
  } */

  
  @keyframes header-shrink {
    0% {height: 8em; opacity: 1; padding: 0.7em 0em 0.7em 1em;}
    100% {height: 0em; opacity: 0;padding: 0em 0em 0em 0em;}
  }
  .header-shrink {
    height: 8em;
    opacity: 1;
    animation-name: header-shrink;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  

  @media only screen and (max-width: 710px) {
    .section-head {
      height: 4em;
      font-size: 2em;
      letter-spacing: 0.em;
      padding: 0.5em 0em 0.02em 0.5em;
      line-height: 1em;
    }

    @keyframes header-grow {
      0% {height: 0em; opacity: 0; padding: 0em 0em 0em 0em;}
      100% {
        height: 4em;
        font-size: 2em;
      letter-spacing: 0.5em;
      padding: 0.5em 0em 0.02em 0.5em;
      }
    }
   .header-grow {
    font-size: 2em;
    letter-spacing: 0.5em;
    padding: 0.5em 0em 0.02em 0.5em;
     animation-name: header-grow;
     animation-duration: 1s;
     animation-fill-mode: forwards;
    }
    
    @keyframes header-shrink {
      0% {
        font-size: 2em;
      letter-spacing: 0.5em;
      padding: 0.5em 0em 0.02em 0.5em;
      }
      100% {height: 0em; opacity: 0;padding: 0em 0em 0em 0em;}
    }
    .header-shrink {
      font-size: 2em;
      letter-spacing: 0.5em;
      padding: 0.5em 0em 0.02em 0.5em;
    }
    
    
  }

