* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:link, a:visited {
  text-decoration: none;
}

/* body {
  overflow: hidden;
} */


.App {
  width: 100vw;
  height: 100vh;
  display: block;
  /* flex-flow: column nowrap; */
  background-image: linear-gradient(#B5E8BB, #FFFFFF 19%, #FFFFFF);
}

.flex-col{
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-between{
  justify-content: space-between;
}


.a-center {
  align-items: center;
}

.j-end {
  justify-content: flex-end;
}

.j-start {
  justify-content: flex-start;
}

.j-center {
  justify-content: center;
}

.a-end {
  align-items: flex-end;
}

.self-bottom {
  align-self: flex-end;
}

.w-full {
  width: 100%;
}

.a-ht {
  height: auto;
}


.nav-bar {
  height: 15%;
}

.company-title {
  white-space: nowrap;
  font-family: 'Karla', sans-serif;
  font-size: 1.5em;
  letter-spacing: 1.005em;
  padding-bottom: 1%;
}

.nav-selector {
  height: 100%;
  width: 60%;
  justify-content: flex-end;
}

.nav-link {
  align-content: flex-end;
  width: 25%;
  justify-content: center;
  padding-bottom: 2%;
}

.nav-link:link, .nav-link:visited  {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  text-decoration: none;
  color: #707070;
}

.nav-link:hover {
  font-weight: bold;
}

.icon {
  background-image: url(./Assets/Icons/Icon.png);
  background-size: contain;
  min-width: 25px;
  width: 10%;
  height: 80%;
  background-repeat: no-repeat;
  margin-left: 1em;
}

.line-divider {
  background-image: url(./Assets/Icons/Line\ 1.png);
  background-size: contain;
  height: 80%;
  width: 5%;
  background-repeat: no-repeat;
  margin: 1%;
}

.content {
  display: block;
  border-radius: 25px 25px 0px 0px;
  background-image: linear-gradient(to left,#F2FFF7, #FFFFF2 );
  height: 85%;
}

.work-content {
  display: block;
  margin: 0% 10%;
  width: 80%;
  height: 80%;
  background-color: brown;
}

.work-nav {
  width: 80%;
  margin: 0% 10%;
  padding-top: 2%;
  height: 25%;
  justify-content: space-between;
}

.work-link:link {
  text-decoration: none;
  height: 100%;
  width: 25%;
  font-family: 'Karla', sans-serif;
  text-align: center;
  color: #707070;
  opacity: 0.14;
  font-size: 1.5em;
  letter-spacing: 0.2em;
  transition: font-size 0.3s, font-weight 0.3s, opacity 0.3s ;
}

.work-link:hover {
  font-size: 1.6em;
  font-weight: bold;
  opacity: 0.5;
}


#projects-container {
  width: 100%;
  height: 100%;
}

.project-box {
  border: black 1px solid;
  background-color: cyan;
  height: 5.5em;
  transition: height 0.8s;
  background-size: cover;
}

.project-box:hover {
  height: 10em;
}

.project-box:active {
  height: 100%;
}

.project-1 {
  /* background-image: url("./Assets/Backgrounds/Home\ Splash@2x.png"); */
}