* {
  margin: 0;
  padding: 0;
  list-style: none;
}


.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  background-image: linear-gradient(#B5E8BB, #FFFFFF 19%, #FFFFFF);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.a-ht {
  height: auto;
}

.f-bottom {
  align-self: flex-end;
}

.nav-bar {
  height: 15%;
}

.company-title {
  white-space: nowrap;
  font-family: 'Karla', sans-serif;
  font-size: 1.5em;
  letter-spacing: 1.005em;
}

.nav-selector {
  height: 100%;
  width: 60%;
  justify-content: flex-end;
}

.nav-link {
  align-content: flex-end;
  width: 25%;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
}

a:link, a:visited  {
  text-decoration: none;
  color: #707070;
}

a:hover {
  font-weight: bold;
}

.icon {
  background-image: url(./Assets/Icons/Icon.png);
  background-size: contain;
  width: 10%;
  height: 80%;
  background-repeat: no-repeat;
  margin-left: 1em;
}

.line-divider {
  background-image: url(./Assets/Icons/Line\ 1.png);
  background-size: contain;
  height: 80%;
  width: 5%;
  background-repeat: no-repeat;
  margin: 1%;
}

.content {
  height: 85%;
  padding: 2%;
  border-radius: 25px 25px 0px 0px;
  background-image: linear-gradient(to left,#F2FFF7, #FFFFF2 );
}
